footer 
    .wrapper
        .footer-block
            img(src="images/logo.png", alt="").logo-footer
            p Фирма АгроМяс. 2023<br>© Все права защищены
        .footer-block 
            p(id="number") 8(977)-585-33-20
            p 061452, Костромская область, город Балашиха, въезд Домодедовская, 16
            p(id="email") AgroMyas@mail.ru            

