* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #764F4F;
  height: 151px;
}
header .header .logo {
  float: left;
  height: 130zpx;
  flex-shrink: 0;
}
header .header ul {
  margin-top: 50px;
  float: right;
}
header .header ul li {
  display: inline-block;
  margin-left: 20px;
  list-style-type: none;
}
header .header ul li a {
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 120px;
  background-color: #764F4F;
  height: 236px;
  color: white;
}
footer .wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .wrapper p {
  font-size: 16px;
  margin-bottom: 25px;
}
footer .wrapper #number {
  font-size: 36px;
}
footer .wrapper #email {
  opacity: 0.6;
  font-size: 20px;
}

section {
  margin-top: 100px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 48px;
}

.history img {
  text-align: center;
  margin: 20px 10%;
}

.catalog h1 {
  text-align: left;
}
.catalog .catalog-line {
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 422px);
}
.catalog .catalog-line .catalog-line__block img {
  width: 100%;
}
.catalog .catalog-line .catalog-line__block p {
  font-size: 24px;
  font-weight: 600;
}

.location {
  text-align: center;
}
.location img {
  margin-top: 25px;
}
.location p {
  font-size: 24px;
  margin-top: 25px;
}

.contacts h1 {
  font-size: 30px;
}
.contacts p {
  font-size: 28px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: 980PX;
    background-color: #ff9b9b;
  }
  header {
    background-color: #764F4F;
    height: 151px;
  }
  header .header .logo {
    height: 130px;
  }
  header .header ul li a {
    font-size: 28px;
  }
  .history img {
    width: 842PX;
    text-align: center;
    margin: 20px 10%;
  }
  .catalog .catalog-line {
    grid-template-columns: repeat(3, 300px);
  }
  .location {
    text-align: center;
  }
  .location img {
    margin-top: 25px;
    width: 100%;
  }
  .location p {
    font-size: 24px;
    margin-top: 25px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .wrapper {
    width: 720px;
    background-color: #ffe69b;
  }
  header {
    background-color: #764F4F;
  }
  header .header .logo {
    height: 130px;
  }
  header .header ul li a {
    font-size: 24px;
  }
  .history img {
    width: 100%;
    margin: 20px 0;
  }
  .catalog .catalog-line {
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-template-columns: repeat(3, 220px);
  }
  .location {
    text-align: center;
  }
  .location img {
    margin-top: 25px;
    width: 100%;
  }
}
footer {
  margin-top: 120px;
  padding-top: 20px;
  background-color: #764F4F;
  height: 236px;
  color: white;
}
footer img {
  width: 150px;
}
footer .wrapper p {
  font-size: 14px;
  margin-bottom: 25px;
}
footer .wrapper #number {
  font-size: 30px;
}
footer .wrapper #email {
  opacity: 0.6;
  font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    width: 430px;
    background-color: #a7ff9b;
  }
  h1 {
    font-size: 42px;
  }
  header {
    background-color: #764F4F;
  }
  header .header .logo {
    margin-top: 30px;
    height: 80px;
  }
  header .header ul {
    margin-top: 60px;
  }
  header .header ul li a {
    font-size: 20px;
  }
  .history img {
    width: 100%;
    margin: 20px 0;
  }
  .catalog .catalog-line {
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 350px);
  }
  .location {
    text-align: center;
  }
  .location img {
    margin-top: 25px;
    width: 100%;
  }
  .contacts h1 {
    font-size: 26px;
  }
  .contacts p {
    font-size: 24px;
  }
  footer {
    margin-top: 120px;
    padding-top: 20px;
    background-color: #764F4F;
    height: 236px;
    color: white;
  }
  footer img {
    width: 150px;
  }
  footer .wrapper p {
    font-size: 14px;
    margin-bottom: 25px;
  }
  footer .wrapper #number {
    font-size: 30px;
  }
  footer .wrapper #email {
    opacity: 0.6;
    font-size: 18px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 300px;
    background-color: #9bd5ff;
  }
  h1 {
    font-size: 38px;
  }
  header {
    background-color: #764F4F;
    height: 120px;
  }
  header .header .logo {
    margin-top: 35px;
    float: left;
    height: 50px;
  }
  header .header ul {
    margin-top: 50px;
    float: right;
  }
  header .header ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
  }
  header .header ul li a {
    font-size: 10px;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }
  .history img {
    width: 100%;
    margin: 20px 0;
  }
  .catalog .catalog-line {
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 250px);
  }
  .location {
    text-align: center;
  }
  .location img {
    margin-top: 25px;
    width: 100%;
  }
  .contacts h1 {
    font-size: 24px;
  }
  .contacts p {
    font-size: 22px;
  }
  footer {
    margin-top: 120px;
    padding-top: 20px;
    background-color: #764F4F;
    height: 236px;
    color: white;
  }
  footer img {
    width: 100px;
  }
  footer .wrapper p {
    font-size: 12px;
    margin-bottom: 25px;
  }
  footer .wrapper #number {
    font-size: 24px;
  }
  footer .wrapper #email {
    opacity: 0.6;
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */