doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/style.css")
        title Главная
    body 
        include modules/header.pug
        section.history
            .wrapper 
                h1 История фирмы
                p. 
                    В 2005 году три друга - Алексей, Иван и Михаил - решили открыть свой бизнес. 
                    Они были уверены, что могут создать что-то особенное и качественное, что понравится людям.
                    Они решили заняться продажей мясной и колбасной продукции. У них было немного опыта в этой области, но они были готовы учиться и развиваться.
                    Друзья начали искать подходящее место для своего магазина. Они хотели, чтобы это было удобно для покупателей и имело хорошую проходимость. В конечном итоге они выбрали уголок на оживленной улице. Друзья начали работать над своим бизнесом с полной отдачей. Они тратили много времени на поиск лучших поставщиков, выбор качественных продуктов и создание уникальных рецептов.
                    С первых дней магазин стал популярным среди местных жителей. Клиенты ценили качество продукции, дружелюбный персонал и атмосферу, которую создали друзья.
                    Вскоре они начали расширять свой ассортимент, добавляя новые виды мясной и колбасной продукции.
                    Сегодня, спустя много лет, магазин Алексея, Ивана и Михаила - один из самых популярных магазинов в городе. Они продолжают работать над улучшением своего бизнеса и радовать своих клиентов качественной продукцией и отличным сервисом.
                img(src="images/history.png", alt="history")
        section.history
            .wrapper 
                h1 О нас
                p. 
                    В 2005 году три друга - Алексей, Иван и Михаил - решили открыть свой бизнес. 
                    Они были уверены, что могут создать что-то особенное и качественное, что понравится людям.
                    Они решили заняться продажей мясной и колбасной продукции. У них было немного опыта в этой области, но они были готовы учиться и развиваться.
                    Друзья начали искать подходящее место для своего магазина. Они хотели, чтобы это было удобно для покупателей и имело хорошую проходимость. В конечном итоге они выбрали уголок на оживленной улице. Друзья начали работать над своим бизнесом с полной отдачей. Они тратили много времени на поиск лучших поставщиков, выбор качественных продуктов и создание уникальных рецептов.
                    С первых дней магазин стал популярным среди местных жителей. Клиенты ценили качество продукции, дружелюбный персонал и атмосферу, которую создали друзья.
                    Вскоре они начали расширять свой ассортимент, добавляя новые виды мясной и колбасной продукции.
                    Сегодня, спустя много лет, магазин Алексея, Ивана и Михаила - один из самых популярных магазинов в городе. Они продолжают работать над улучшением своего бизнеса и радовать своих клиентов качественной продукцией и отличным сервисом.
                img(src="images/about.png", alt="about")
        include modules/footer.pug                        
